$colors: (
  "red": (
    300: hsl(0, 36%, 70%),
    400: hsl(0, 93%, 68%),
    500: hsl(0, 6%, 24%)
    ),
  "light": (
    100: hsl(0, 0%, 100%),
    ),
    "dark": (
    800: hsl(0, 7%, 24%),
    )
);

$gradients: (
  "light": linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
  "pink": linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%))
);


// typography
$font-weights: (
  "light": 300,
  "regular": 400,
  "semibold": 600
);

$text-aligns: (
  "left": left,
  "center": center,
  "right": right,
);

$fs-family:  "Josefin Sans", serif;


//shadow
$box-shadow-1: 0 15px 20px 0 rgba(198, 110, 110, 0.25);
